{% extends "mail/_base.html" %}

{% block body %}
    <p>You are receiving this email because you have ordered an advertising contract with The Harvard Lampoon.

        To finalize your order, you need to upload your media. Please click the link below to complete your order.</p>

    <p>Please make sure that the information below is correct</p>
    <br>
    <p>
        <a href="http://cloud.rozu.co:9083{{ ad.get_absolute_url }}">http://cloud.rozu.co:9083{{ ad.get_absolute_url }}</a>
    </p>

{% endblock %}